<head>
<meta charset="UTF-8">
<title>GoT</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./bootstrap.css">
<link rel="stylesheet" href="style.css">
<style>
@font-face {
    font-family: "Germania One";
    src: url("./fonts/Germania_One/GermaniaOne-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Light.ttf");
    font-display: swap;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color:  rgb(67, 168, 250);
}

.card {
    background-color: white;
}

input[type="text"] {
    -webkit-text-fill-color: white;
    background-color: deepskyblue;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Germania One', serif;
}

h2 {
    text-align: center;
    color: white;
}
</style>
</head>