
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<form action="/search" method="post">
<label>
    <input class="veld" type="text"  name="userSearchInput" placeholder="Search a house" required>
    <button class="button" type="submit">go!</button>
</label>
</form>

<div id="container">
<% data.forEach(function(house) { %>
<div class='card'>
<a href='/<%= house.name %>'><%= house.name %></a>
<img src="Game_of_Thrones_logo_logotype_wordmark.png" alt="GoT logo">

<p>region: <%= house.region %> </p>
</div>
<% }); %>
</div>
</main>

<script src="./jquery-3.3.2.js"></script>
</body>
</html>